@use "@/styles/variables" as v;
@use "@/styles/mixins" as m;

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  @include m.card;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  gap: 2rem;
}

.fieldsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  input {
    flex: 1;
  }

  select {
    width: 100px;
  }
}

.column {
  flex-direction: column;
}
.reverseColumn {
  flex-direction: column-reverse;
}
