@use "@/styles/variables" as v;

.sortable {
  user-select: none;

  span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
}

.sortIcon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
